.product-body {
  background-color: #F5F4F4;
  min-height: 1200px;
}
.product-demo {
  background-color: #F5F4F4;
  /*color: white;*/
}

.products {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.product {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  /*color: white;*/
  margin: 70px;
}


.product-image-div {
  box-sizing: border-box;
  border-radius: 30px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-style: solid;
  border-color: white;
  border-width: 30px;
}

.product-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.product-demo-nav-header {
  position: relative;
}
.product-demo-nav-foreground {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
}

.product-demo-nav-background {
  background-color: #F5F4F4;
}

.product-nav {
  color: white;
  text-decoration: none;
}

.product-primary {
  font-family: trajan-pro-3,serif;
  font-weight: 700;
  font-style: normal;
}

.product-primary-2 {
  font-family: trajan-pro-3,serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.product-secondary {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}

.product-logo {
  font-family: avalon, sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 100px;
}

.product-creation {
  background-color: #DFE1E5;
  border-radius: 30px;
}

.img-azure {
  width: 300px;
  border-style: solid;
  border-color: white;
  border-width: 30px;
}


.blue {
  color: #3B4557;
}


.product-search {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.product-button {
  background-color: #E7E4EF;
  padding: 10px;
  border-radius: 20px;
}

.product-options {
  background-color: #E7E4EF;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.product-form {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.product-totals {
  text-align: center;
}









