.best-hero {
  padding-top: 50px;
}


.img-big-swords {
  width: 400px;
}

.swords-text {
  text-align: center;
}

.img-small-swords {
  width: 50px;
  margin: 10px;
}

.img-person {
  width: 200px;
}

.img-best-expert {
  width: 300px;
}

.best-box {
  border-style: solid;
  border-color: black;
}

.img-book {
  width: 500px;
}

.flex-number {
  font-size: 60px;
  margin: 20px;
}



.flex-text {
  font-size: 15px;
}

.book-image-beauty {
  background-color: #dfdfdf;
}



@media screen and (max-width: 1025px) {
  
   .img-big-swords {
       width: 250px;
    }

 

    .img-best-expert {
      width: 250px;
    }

    .img-person {
      width: 200px;
    }

    .best-box {
      border-style: solid;
      border-color: black;
      text-align: center;
    }

    .flex-number {
      font-size: 35px;
      text-align: center;
    }
    .flex-text {
      font-size: 15px;
      text-align: center;
    }

    .task-flex {
      text-align: left;
    }

}






















