/*
.img-mcc {
	margin-left: 300px;
	margin-right: 300px;
}
*/
.mcc-img-lg {
	width: 1000px;
}


@media screen and (max-width: 1025px) {

	.img-mcc {
		width: 390px;
		margin-left: 10px;
		margin-right: 10px;
	}

}