.portfolio-content {
  max-width: 4000px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;

}

.img-profile {
  width: 300px;
  justify-content: flex-end;
  z-index: 2;
}

.img-globe {
  width: 700px;
  opacity: 10%;
}

.container {
  position: relative;
}

.img-arrows {
  width: 40px;
}

.portfolio-globe-bubble {
  position: relative;
}

.portfolio-bubble {
  position: absolute;
  right: 0;
  top: 190px;
}
/*.portfolio-globe {
  position: absolute;
}*/


@media screen and (max-width: 1025px) {

  .bub-mobile {
    width: 300px;
  }

  .img-profile {
    width: 250px;
    justify-content: flex-end;

  }

  .img-arrows {
    width: 0px;
  }

  .img-globe {
    width: 300px;
    margin-left: 20px;
    opacity: 10%;
  }

  .portfolio-bubble {
    position: absolute;
    right: 0;
    top: 25px;
    margin-right: 50px;
  }

  .mobile-center {
    text-align: center;
  }




}