.portfolio-content {
  max-width: 4000px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;

}

.img-profile {
  width: 300px;
  justify-content: flex-end;
  z-index: 2;
}

.img-globe {
  width: 800px;
  opacity: 30%;
}

.container {
  position: relative;
}

.img-arrows {
  width: 40px;
}

.portfolio-globe-bubble {
  position: relative;
}

.portfolio-bubble {
  position: absolute;
  right: 0;
  top: 180px;
}
.portfolio-globe {
  /*position: absolute;*/
}


@media screen and (max-width: 1025px) {

  .img-profile {
    width: 150px;
    justify-content: flex-end;

  }

  .img-arrows {
    width: 20px;
  }

  .img-globe {
  width: 300px;
  opacity: 30%;
}




}