.portfolio-content {
  max-width: 4000px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;

}

.img-profile {
  width: 900px;
  align-content: ;
}

.img-arrows {
  width: 40px;
}