.sadhan-hero{
	padding-top: 50px;
}



.sadhan-img {
  width: 400px;
}

.sadhan-img-2 {
  width: 400px;
}

.sadhan-box {
  background-color: #182226;
}




@media screen and (max-width: 1025px) {
  .sadhan-img {
      width: 350px;
      margin-top: 30px;
    }
    
  .sadhan-beauty {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
