.vaca-hero{
	padding-top: 50px;
}

.vaca-desktop {
  width: 1200px;
}

.vaca-onboard {
  width: 1200px;
  margin: 0 auto;
}


.vaca-beauty {
  padding-top: 100px;
  padding-bottom: 100px;
}

.vaca-box {
  background-color: #0c0f1c;
}

@media screen and (max-width: 1025px) {
.vaca-desktop {
  width: 400px;
}

.vaca-onboard {
  width: 400px;
  margin: 0 auto;
}

}

